{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Resultados de Evaluación</h1>
    <h2>Síntoma: {{ sintoma.descripcion }}</h2>
    {% if enfermedades %}
        <h3>Enfermedades relacionadas:</h3>
        <ul>
            {% for enfermedad in enfermedades %}
                <li>{{ enfermedad.nombre }}</li>
            {% endfor %}
        </ul>
        <h3>Tratamientos sugeridos:</h3>
        <ul>
            {% for tratamiento in tratamientos %}
                <li>{{ tratamiento.nombre }} - {{ tratamiento.descripcion }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron enfermedades relacionadas con el síntoma proporcionado.</p>
    {% endif %}
</div>
{% endblock %}
